@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center content"style="background-color:transparent; margin-left:0px;">
    <h1 class="display-4"></h1>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="text-left" style="margin-top: 2rem;margin-left:0rem;">
                <h1>Clean Air, Clear Future<br />Monitoring for a Healthier Tomorrow!</h1>
                <p style="margin-top:2rem;">
                    In this example, the mt-3 class adds a top margin of 1rem to theh
                    You can adjust the number according to the amount of spacing you need.
                    If you have any more questions or need further customization, feel free to ask!
                    Feel free to experiment with these methods and let me know if you need further assistance or have more specific requirements!
                </p>
                <button type="button" class="btn btn-success">Click Me</button>
            </div>
        </div>
    </div>
</div>